# Install fubon_neo from Fubon's official wheel:
# https://www.fbs.com.tw/TradeAPI/docs/download/download-sdk/
fugle-marketdata>=2.4.1
websocket-client>=1.5.1,<2
requests>=2.28.2,<3
psycopg[binary]>=3.1
python-dotenv>=1.0
pydantic>=2
pytest>=8
twstock
pandas
plotly
